
{{>head}}
{{>header}}
<div class="bg-gray-100">


<div class="container mx-auto pt-20 pb-40">
    <h1 class="text-center mb-4 text-md">Création de la boutique</h1>

    <div class="mt-4 p-8 bg-creme rounded  cursor-pointer">
      <form action="/createaccount/step2/seller" method="post" novalidate="novalidate" enctype="multipart/form-data" id="form_step2" onsubmit="return validForm()">

     <div class="text-xl font-semibold mb-2 mt-4">Informations personnelles</div> 
     <div class="text-md mb-3">Trois champs obligatoires : votre nom et votre prénom et votre email</div> 
      <div>
         
          <div class="grid grid-cols-2 gap-4">
              <div>
                <input  id="token" type="hidden" name="token" value="{{token}}">
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="firstname">
                      Prénom *
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="firstname" type="text" name="firstname" value="{{user.firstname}}">
              </div>
              <div>
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                      Nom *
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" name="name" value="{{user.name}}">
              </div>
          </div>
          <div class="grid grid-cols-2 gap-4 mt-2">
              <div>
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="Email">
                      Email *
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="text" name="email" value="{{email}}">
              </div>
              <div>
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="tel">
                      Téléphone 
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="tel" type="phone" name="tel" value="{{user.phone}}">
              </div>
          </div>
          <div class="grid grid-cols-2 gap-4 mt-2">
              <div>
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="address1">
                      Adresse 
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="address1" type="text" name="address1" value="{{user.address1}}">
              </div>
              <div>
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="address2">
                      ligne complémentaire
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="address2" type="text" name="address2" value="{{user.address2}}">
              </div>
          </div>
          <div class="grid grid-cols-2 gap-4 mt-2">
              <div>
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="zip">
                      Code postal 
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="zip" type="text" name="zip" value="{{user.zip}}">
              </div>
              <div>
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="city">
                      Ville
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="city" type="text" name="city" value="{{user.city}}">
              </div>
          </div>

         
      </div>
      <div class="text-xl font-semibold mb-3 mt-4"> La boutique</div>  
      <div class="text-md mb-3">Deux champs obligatoires : le nom et l'avatar de votre boutique. vous pourrez compléter et personnaliser votre boutique ultérieurement.</div>   
      <div class="grid grid-cols-2 gap-4">
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2" for="avatar">
            Avatar de la boutique *
          </label>
            <input name="avatar" type="file" id="avatar" size="40"
            class="w-full shadow bg-white appearance-none border rounded w-40 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline truncate"
                    accept="image/png, image/jpeg">
        </div>
        <div >
          <div id="img-avatar" class="container-avatar-user avatar-width-150" >
          </div>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-4 mt-2">
        <div>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="shop_name">
                Nom de la boutique *
              </label>
              <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="shop_name" type="text" name="shop_name" value="{{shop.name}}">
        </div>
        <div>
           
        </div>
    </div>
      <div>
        <button class="btn-primary mt-2" type="submit">Enregistrer</button>
      </div>

  </form>
  </div>

</div>
</div>
<div id="message_dialog" class="container-message-dialog" style="display: none;">
  <div class="message-dialog flex flex-col">
    <div class="message-dialog-title text-xl font-semibold p-10 bg-jaune"></div>
    <div class="message-dialog-content pl-10 pt-4 flex-grow"></div>
    <div class="message-dialog-footer pb-4 pr-4 ">
      <button class="message-dialog-btn btn-primary float-right mt-2"  type="button"></button>
    </div>
  </div>
</div>
{{>footer}}


<script>
    function validForm(){
      //*************** fonctionnement message dialog ***************/
      let err = [];
      let requiredFieldTab = [
        {id: "name", value: document.getElementById("name").value, text: "Nom"},
        {id: "firstname", value: document.getElementById("firstname").value, text: "Prénom"},
        {id: "email", value: document.getElementById("email").value, text: "Email"},
        {id: "shop_name", value: document.getElementById("shop_name").value, text: "Nom de la boutique"},
      ]

      for (let i = 0; i < requiredFieldTab.length; i++) {
        const field = requiredFieldTab[i];
        if(!field.value){
          err.push(field.text + "<br/>")
        }
      }
      if(err.length){
        document.getElementById("message_dialog").style.display = 'block';
        err.unshift("Vous devez renseigner les champs : <br/>");
        document.querySelector(".message-dialog-title").innerHTML = "Erreur";
        document.querySelector(".message-dialog-content").innerHTML = err.join(" ");
        document.querySelector(".message-dialog-btn").innerHTML = "Ok";
        return false;
      }
      else { 
          return true;
      }
    }
    addReady(function () {
      let imgAvatar = document.getElementById('img-avatar');
      let fileAvatar = document.getElementById('avatar')
      fileAvatar.addEventListener("change", (e)=>{
        let file = e.target.files[0]
        var reader = new FileReader();
        reader.onload = (function(theFile) {
          return function(e) {
            imgAvatar.style["background-image"] = "url(" + e.target.result+")"
          };
        })(file);
        reader.readAsDataURL(file);
      })

      let messageDialogBtn = document.querySelector(".message-dialog-btn");
      messageDialogBtn.addEventListener('click', ()=>{
        document.getElementById("message_dialog").style.display = 'none';
      })


    });
</script>

