
{{>head}}
{{>header}}
<div class="bg-gray-100">


<div class="container mx-auto pt-20 pb-40">
    <h1 class="text-center mb-4 text-md">Quelques informations suplémentaires</h1>

    <div class="mt-4 p-8 bg-creme rounded  cursor-pointer">
      <form action="/createaccount/step2/buyer" method="post" novalidate="novalidate" enctype="multipart/form-data" id="form_step2" onsubmit="return validForm()">
      <div class="text-xl font-semibold mb-3"> Avatar </div> 
      <div class="text-md mb-2"> Choisissez un avatar par défault </div> 
      <input name="avatardefault"type="hidden" id="avatar-default" value="">
      <div class="grid grid-cols-10 gap-6 mb-3">
          <div>
              <img id="chat.jpg" class="rounded-full w-full cursor-pointer avatar-default" src="/images/avatars-default/chat.jpg" alt="photo de profil">
          </div>
          <div>
              <img id="mer.jpg" class="rounded-full w-full cursor-pointer avatar-default" src="/images/avatars-default/mer.jpg" alt="photo de profil">
          </div>
          <div>
              <img id="fillepaysage.png" class="rounded-full w-full cursor-pointer avatar-default" src="/images/avatars-default/fillepaysage.png" alt="photo de profil">
          </div>
          <div>
              <img id="visage1.jpg" class="rounded-full w-full cursor-pointer avatar-default" src="/images/avatars-default/visage1.jpg" alt="photo de profil">
          </div>
          <div>
              <img id="poisson.jpg" class="rounded-full w-full cursor-pointer avatar-default" src="/images/avatars-default/poisson.jpg" alt="photo de profil">
          </div>
      </div>
      <div class="text-md mb-2"> Ou choisissez votre propre avatar</div> 
      <div class="grid grid-cols-2 ">
          <input name="avatar" type="file" id="avatar" size="40"
          class="w-full shadow bg-white appearance-none border rounded w-40 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  accept="image/png, image/jpeg">
                </div>
 

     <div class="text-xl font-semibold mb-2 mt-4">Mes coordonnées </div>  
      <div>
         
          <div class="grid grid-cols-2 gap-4">
              <div>
                <input  id="token" type="hidden" name="token" value="{{token}}">
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="firstname">
                      Prénom *
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="firstname" type="text" name="firstname" value="{{user.firstname}}">
              </div>
              <div>
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                      Nom *
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" name="name" value="{{user.name}}">
              </div>
          </div>
          <div class="grid grid-cols-2 gap-4 mt-2">
              <div>
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="Email">
                      Email *
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="text" name="email" value="{{email}}">
              </div>
              <div>
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="tel">
                      Téléphone 
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="tel" type="phone" name="tel" value="{{user.phone}}">
              </div>
          </div>
          <div class="grid grid-cols-2 gap-4 mt-2">
              <div>
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="address1">
                      Adresse 
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="address1" type="text" name="address1" value="{{user.address1}}">
              </div>
              <div>
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="address2">
                      ligne complémentaire
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="address2" type="text" name="address2" value="{{user.address2}}">
              </div>
          </div>
          <div class="grid grid-cols-2 gap-4 mt-2">
              <div>
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="zip">
                      Code postal 
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="zip" type="text" name="zip" value="{{user.zip}}">
              </div>
              <div>
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="city">
                      Ville
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="city" type="text" name="city" value="{{user.city}}">
              </div>
          </div>
          <div>
              <button class="btn-primary mt-2" type="submit">Enregistrer</button>
          </div>
         
      </div>

  </form>
  </div>

</div>
</div>
{{>footer}}


<script>
    function validForm(){
        let name = document.getElementById("name").value;
        let firstname = document.getElementById("firstname").value;
        let email = document.getElementById("email").value;
       
        if (!name || !firstname || !email) { 
            alert("vous devez renseigner votre nom et votre prénom"); 
            return true;
            }
        else { 
            return true;}
    }
    addReady(function () {
/*       const urlParams = new URLSearchParams(window.location.search);
      const token = urlParams.get('token');
      localStorage.setItem("token", token); */

      const avatar = document.querySelectorAll(".avatar-default");
        avatar.forEach((item)=>{
            item.addEventListener("click", function(e){
                let idSelected = e.target.id
                avatar.forEach((item2)=>{
                    console.log('item2',item2);
                    item2.classList.remove("avatar-selected");
                })
                e.target.classList.add("avatar-selected")
                document.getElementById("avatar-default").value = idSelected; 
            })
        })
    });
</script>

