
{{>head}}
<div class="bg-header-services py-20 px-20">
  <div class="grid grid-cols-2">
    <div class=" ">
      <h1 class="text-5xl text-gray-200 pb-2">Rejoingnez la communauté <br> <span class="text-6xl">OZ art</span></h1>
      <p class="text-gray-200 text-lg">Vous êtes un petit artisan, et vous souhaitez avoir une visibilité sur le net ? <br>
        OZ art met à votre disposition un espace de vente en ligne mais pas seulement, le site vous permet également d’augmenter votre communauté</p>
    </div>
    <div class=""></div>
  </div>
</div>
<div class="pt-20">

  <div class="container mx-auto">
      <div class="grid grid-cols-2">
  
        <div class="py-10 px-10">
          <h2 class="text-6xl mt-5">Personnalisez <br><span class="text-3xl">votre boutique</span></h2>
          <p>La plateforme OZ Art  met à votre disposition un espace de vente personnalisable.</p>
          <p>Une image banière </p>
          <p>Une image de fond </p>
          <p>Un Choix de themes </p>
        </div>
        <div>
          <img src="/images/personnaliser.png" alt="Personalisez vore boutique">
        </div>
      </div>
    </div>
</div>
<div class="bg-gray-200 pt-20">

  <div class="container mx-auto">
  <div class="grid grid-cols-2">
    <div>
      <img src="/images/communiquer.png" alt="Personalisez vore boutique">
    </div>
    <div class="py-10 px-10">
      <h2 class="text-6xl ">Communiquez <br><span class="text-3xl">avec votre communauté</span></h2>
      <p>Mettez en place un blog pour informer votre communauté et l'entretenir. <br> Vous pourrez également chatter en direct avec nimporte quel menbre</p>
      
    </div>
  </div>
  </div></div>
  <div class="py-10">

    <div class="container mx-auto">
  <div class="grid grid-cols-2">
    <div class="py-10 px-10">
      <h2 class="text-6xl ">Fidélisez <br><span class="text-3xl">vos clients</span></h2>
      <p> Fidélisez vos clients grâce à une newsletter personnalisée !</p> 
    </div>
    <div>
      <img src="/images/fideliser1.png" alt="Personalisez vore boutique">
    </div>

</div>
</div>
</div>
<div class="container mx-auto">
    <div class="py-10 px-40">
      <h2 class="text-4xl mt-5 text-center">Qui sommes-nous ?</h2>
      <p class="text-center text-lg">Une petite équipe d’artisans du sud de la France, passionnés par leur activité créative 
        qui ont souhaités profiter d’internet pour se faire connaitre et booster leurs ventes.</p>
     <p class="text-center text-lg"> Faites comme nous et rejoignez la communauté !</p>
    </div>


</div>


{{>footer}}

