body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	position: relative;
	transition: all 1s ease;
}
.bg-header-services {
	width: 100%;
	height: 80vh;
	background-image: url("/images/pexels-dio-hasbi-saniskoro-3280130.jpg");
	background-position: center;
	background-size: cover;
}

/* Les couleurs tailwindcss

creme: #f4f1de
ocre: #e07a5f
fonce: #3d405b
vert: #81b29a
jaune: #f2cc8f 

*/

/************* les boutons **************/

.btn-primary {
	background-color: #e07a5f;
	color: #fff;
	font-weight: 800;
	padding: 7px 15px;
	border-radius: 5px;
}
.btn-primary:hover {
	background-color: #963d26;
}

.btn-primary-reverse {
	background-color: #fff;
	color: #e07a5f;
}
.btn-primary-reverse:hover {
	background-color: #e2e2e2;
}
.btn-secondary {
	background-color: #81b29a;
	color: #fff;
}
.btn-secondary:hover {
	background-color: #56846d;
}
.btn-danger {
	background-color: #757474;
	color: #fff;
}
.btn-danger:hover {
	background-color: #272727;
}
.btn-small {
	font-weight: 500;
	padding: 3px 11px;
}

/*********** toggle btn page d'inscription ************/
.toggle__dot {
	top: -0.25rem;
	left: -0.25rem;
	transition: all 0.3s ease-in-out;
}
input:checked ~ .toggle__dot {
	transform: translateX(100%);
	background-color: #48bb78;
}
input:checked ~ .toggle__line {
	background-color: #48bb7896;
}

/************** page login **************/
.btn-radio {
	padding: 10px;
	border: 1px solid #e2e8f0;
	border-radius: 4px;
	margin-bottom: 10px;
}
/***************************************/

/*********** images avatar ************/
.avatar-absolute {
	position: absolute;
	top: 10px;
	left: calc(50% - 100px);
}
.container-avatar-user {
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	box-shadow: 2px 2px 6px 0px #0000007a;
}
.avatar-width-150 {
	width: 150px;
	height: 150px;
}
.avatar-width-200 {
	width: 200px;
	height: 200px;
}
.avatar-width-100 {
	width: 100%;
	height: auto;
}
.container-avatar-img {
	margin: auto;
	border-radius: 50%;
	box-shadow: 2px 2px 6px 0px #0000007a;
}
.avatar-selected {
	border: 2px solid black;
}

/**************** fenetres toast ******************/
.container-message-toast {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1005;
	width: 100%;
	height: 100%;
	transform: translate(0, 0);
}
.message-toast {
	background-color: #fff;
	width: 500px;
	margin: auto;
	border-radius: 0 0 5px 5px;
	position: sticky;
	top: 0;
	box-shadow: 1px 1px 8px 0px #00000082;
}
.message-toast-content {
	border-radius: 0 0 5px 5px;
}
/**************** fenetres dialogue ******************/

.container-message-dialog {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1005;
	width: 100%;
	height: 100%;
	background-color: #3d405b85;
}
.message-dialog {
	background-color: #fff;
	width: 95%;
	margin: auto;
	height: 300px;
	border-radius: 2px;
	position: sticky;
	top: calc((100vh - 300px) / 2);
	box-shadow: 1px 1px 8px 0px #00000082;
}
.message-dialog-title {
	border-radius: 2px 2px 0 0;
}
.message-dialog-content {
	border-bottom: 1px solid #f2cc8fbf;
}
@media (min-width: 768px) {
	.message-dialog {
		width: 80%;
	}
}
@media (min-width: 992px) {
	.message-dialog {
		width: 40%;
	}
}

/************** page boutique *******************/
.shop-couv {
	height: 350px;
	background-position: center;
	background-size: cover;
}

.coeur {
	background-color: #fff;
	padding: 5px;
	border-radius: 50%;
	color: gray;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.container-avatar-shop {
	margin-top: -80px;
	border-radius: 50%;
	box-shadow: 2px 2px 6px 0px #0000007a;
	width: 200px;
	height: 200px;
}

/*******************  page panier  *********************/

.table-panier tr {
}

/*******************  page d'accueil  *********************/
.ozart-couv {
	width: 100%;
	height: 400px;
	background-image: url(/images/header-fete-mere.jpg);
	background-position: center;
	background-size: cover;
}
.container-gate {
	width: 100%;
	height: 450px;
	background-position: center;
	background-size: cover;
	border-radius: 4px;
	transition: transform 0.2s ease;
}
.container-gate:hover {
	transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.container-product {
	width: 100%;
	height: 150px;
	background-position: center;
	background-size: cover;
	border-radius: 4px;
}
.height200 {
	/* container-product dans la page shop */
	height: 200px;
}
