
<div class="container mx-auto py-3">
  <div class="grid grid-cols-6 gap-4 flex items-center">
    <div class="col-start-1 col-end-2 ">
     <a href="/">OZ art</a> 
    </div>
    <div class="col-start-2 col-span-4 ">
      <input class="bg-creme appearance-none border-2 border-creme rounded-full w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-ocre" id="research" type="text" value="" placeholder="Faite votre recherche">
    </div>
    <div class="col-start-6 col-span-1 grid grid-cols-2 gap-2">
      <div>
      <button type=button  id="linkconnection">Mon compte</button></div> 
        <!-- <a href="{{links.url_admin}}" id="linkconnection">Se connecter</a></div> -->
      <a href="{{links.url_site}}/panier">Mon panier</a> <div></div>
    </div>
  </div>
 

  <nav class="flex items-center justify-between flex-wrap p-6">
    <div class="block lg:hidden">
      <button class="flex items-center px-3 py-2 border rounded  border-teal-400 hover:text-gray hover:border-white">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
      </button>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto mt-4 justify-between ">
      <div class="text-sm lg:flex-grow text-center">
        <a href="/services" class="block lg:inline-block lg:mt-0  hover:text-gray ">
        Services
        </a>
      </div>
      <div class="text-sm lg:flex-grow text-center">
        <a href="#responsive-header" class="block lg:inline-block lg:mt-0 mx-2 hover:text-gray ">
          Bijoux/Accessoires
        </a>
        <a href="#responsive-header" class="block lg:inline-block lg:mt-0  mx-2 hover:text-gray">
          Vêtements/Chaussures
        </a>
        <a href="#responsive-header" class="block lg:inline-block lg:mt-0  mx-2 hover:text-gray">
          Maison/Deco
        </a>
        <a href="#responsive-header" class="block  lg:inline-block lg:mt-0  mx-2 hover:text-gray">
          Peintures/sculptures
        </a>
      </div>
      <div class="text-sm lg:flex-grow text-center">
        <a href="/blog" class="block  lg:inline-block lg:mt-0  hover:text-gray">
          Blog
        </a>
      </div>
      <div>
        
      </div>
    </div>
  </nav>


</div>
  <hr>


  <script>
    addReady(function () {
      let btnConnexion = document.getElementById("linkconnection");
      btnConnexion.addEventListener("click", ()=>{
        let token = window.localStorage.getItem("token") ? window.localStorage.getItem("token")  : "";
        let cart = window.localStorage.getItem("cart") ? window.localStorage.getItem("cart") : [];
        
        window.location.assign("http://localhost:8080/#/?token="+token+"&cart="+cart ); 
      })
    });



  </script>
